/* ======================================================================
  Settings
======================================================================== */

// Color

$brand:						#F86D64;
$primary:					#F8837D;
$primarySoft:			#F8B9B6;
$secondary:				#101531;
$black:						#080A25;
$white:						#fff;

$success:					#7ac64d;
$error:						#e66346;
$info:						#0DBFF5;
$warning:					#FBF75E;

// Font sizes
$font-size-base:	16px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 25px;
$font-size-h1:		$font-size-base + 15px;
$font-size-h2:		$font-size-base + 12px;
$font-size-h3:		$font-size-base + 9px;
$font-size-h4:		$font-size-base + 6px;
$font-size-h5:		$font-size-base + 3px;
$font-size-h6:		$font-size-base;

// Font family
$font-primary:		'Permanent Marker', Helvetica, Arial, Sans-serif;
$font-secondary:	'Varela Round', Helvetica, Arial, Sans-serif;

// Others
// -------------------------
$content-width: 				1280px;
$image-header: 					'https://images.unsplash.com/photo-1491210953611-dcd4c66e0840?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80';
$background-lineup:			'../media/img/background/lineup';
$logo-femrevol:					'../media/img/femrevol.png';
