- var about = i18n.lineup;

section.content-section#about
	.container
		.row
			.col-12
				h3
					| #{i18n.about.titleAbout}
				p
					| !{i18n.about.descriptionAbout}
		.row
			.col-12
				h3
					| #{i18n.about.titleProject}
				p
					| !{i18n.about.descriptionProject}
