section.content-section#cartel
	.container
				.row
					.col-12
						.cartel-view
							a(download="carrancacony-18.png" href="./media/img/carrancacony-18.png" title="Descargar el cartel")
								img(src="./media/img/carrancacony-18.png" alt="cartel 2018" data-toggle="tooltip" data-placement="top" title="Descargar el cartel")
