.hero-content
	.container
		.row
			.col-12.offset-lg-1.col-lg-10
				.entry-header
					h1 CARRANCÀ CONY
					.entry-meta-date
						h2 06.04.2019
				.countdown.flex.flex-wrap.justify-content-between(data-date='2019/04/06 18:00')
					.countdown-holder
						.dday 0
						label Días
					.countdown-holder
						.dhour 0
						label Horas
					.countdown-holder
						.dmin 0
						label Minutos
					.countdown-holder
						.dsec 0
						label Segundos
