/* ======================================================================
	Layout
======================================================================== */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: none;
}

%fix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }

    &:before {
        content: "";
        display: table;
    }
}

body {
    background-color: $primarySoft;
    color: $black;
    font-family: $font-secondary;
    font-weight: 400;
    @include rem(font-size, $font-size-base);
}

.content {
    @extend %clearfix;
    margin: 0 auto;
    max-width: $content-width;
    position: relative;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-primary;
}

a {
    text-decoration: none;
    color: $primary;
}

button {
    background-color: $brand;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    position: relative;
  	left: 50%;
  	transform: translateX(-50%);
    @include rem(font-size, $font-size-base);
}

.flex {
	display: flex;
}
