.hero-content {
	padding: 220px 0;
	background: url($image-header) no-repeat;
	background-size: cover;
	background-position: center center;

	.entry-header {
		position: relative;
		text-align: center;
	}

	.countdown {
		margin-top: 40px;
		.countdown-holder {
			min-width: 150px;
			margin-bottom: 30px;

			.dday,
			.dhour,
			.dmin,
			.dsec {
				display: block;
				font-size: $font-size-h1;
				font-weight: 600;
				line-height: 1;
				color: $brand;
				text-shadow: 2px 2px 2px $secondary;
			}

			label {
				display: block;
				font-size: $font-size-h3;
				font-weight: 600;
				color: $white;
			}
		}
	}
}
