include includers/head.pug
body(lang!=lang)
	include includers/partials/header.pug
	//.cookies-data(data-text='#{i18n.cookies.text}' data-link-text='#{i18n.cookies.link_text}' data-url='#{i18n.cookies.url}')
	main
		include includers/partials/countdown.pug
		include includers/partials/about.pug
		include includers/partials/cartel.pug
		include includers/partials/lineup.pug
		include includers/partials/location.pug

include includers/partials/footer.pug
