.hero-content
	.container
		.row
			.col-12.offset-lg-2.col-lg-10
				.entry-header
					h2 Hello world!
					.entry-meta-date
						| 06.04.2019
				.countdown.flex.flex-wrap.justify-content-between(data-date='2019/04/06 18:00')
					.countdown-holder
						.dday 0
						label Days
					.countdown-holder
						.dhour 0
						label Hours
					.countdown-holder
						.dmin 0
						label Minutes
					.countdown-holder
						.dsec 0
						label Seconds
