/* ======================================================================
	Countdown
======================================================================== */


.hero-content {
	padding: 220px 0;
	background: linear-gradient(rgba(98, 17, 206, 0.25),rgba(75, 0, 255, 0.18)), url($image-header) no-repeat;
	background-size: cover;
	background-position: center center;

	.entry-header {
		position: relative;
		text-align: center;

		h1 {
			font-size: 6vw;
			text-shadow: 2px 2px 2px $primarySoft;
		}
	}

	.entry-meta-date {
		font-size: 5vw;
		text-shadow: 2px 2px 2px $primarySoft;
	}

	.countdown {
		margin-top: 40px;
		.countdown-holder {
			min-width: 150px;
			margin-bottom: 30px;

			.dday,
			.dhour,
			.dmin,
			.dsec {
				display: block;
				font-size: $font-size-h1;
				font-weight: 600;
				line-height: 1;
				color: $brand;
				text-shadow: 2px 2px 2px $secondary;
			}

			label {
				display: block;
				font-size: $font-size-h3;
				font-weight: 600;
				color: $white;
			}
		}
	}
}
