/* ======================================================================
	Footer
======================================================================== */

.site-footer {
	position: relative;
	padding: 40px 0 30px;
	background: $secondary;

	.footer-cover-title {
		min-height: 480px;
		width: 100%;

		h2 {
			font-size: 8vw;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 0;
			text-align: center;
			color: #fff;
			mix-blend-mode: overlay;
			z-index: 2;
		}
	}

	.footer-content-wrapper {
		position: relative;
		width: 100%;
		height: auto;
		z-index: 4;
		left: 0;
		padding: 6px 0;
		text-align: center;

		.entry-title {
			text-align: center;
			margin-top: 25px;

			h2 {
				font-size: 8vw;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 0;
				text-align: center;
				color: #fff;
				mix-blend-mode: overlay;
				z-index: 2;
			}
		}

		.entry-mail {
			margin-top: 16px;
			font-size: 16px;
			font-weight: 700;
			color: #fff;
		}

		.copyright-info {
			margin-top: 20px;
			font-size: 12px;
			color: #fff;
		}

		.footer-social {
			margin-top: 32px;
		}

		.footer-colaborators {
			color: $white;
			h4 {
				padding: 15px 0;
			}
			img {
				max-width: 150px;
				width: 100%;
				object-fit: cover;
			}
		}
	}

}
